/* Сброс стилей */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Стили для контейнера логотипа */
.logo-container {
  display: flex; /* Используем flexbox для размещения элементов в ряд */
  align-items: center; /* Выравниваем элементы по вертикали */
}

/* Стили для логотипа */
.church-logo {
  max-width: 100%; /* Максимальная ширина логотипа */
}

/* Стили для текста поверх логотипа */
.logo-text {
  color: #90ee90;
  font-size: 18px;
  font-style: italic;
  text-shadow: 1px 1px 1px black;
  max-width: 80%; /* Ограничиваем ширину текста */
  margin-left: -100px; /* Сдвигаем текст влево на 150 пикселей */
  margin-top: 60px; /* Опускаем текст ниже на 20 пикселей */
}

/* Стили для верхнего меню */
.navbar {
  background-color: #3498db;
  margin-top: 80px; /* Опускаем верхнее меню ниже на 20 пикселей */
  color: white; /* Изменяем цвет текста на белый */
  height: auto; /* Устанавливаем высоту верхнего меню на auto для адаптивности */
  overflow: hidden; /* Скрываем все элементы, которые выходят за пределы контейнера */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Используем flexbox для элементов меню */
  flex-wrap: wrap; /* Позволяем элементам меню переноситься на новую строку */
  justify-content: center; /* Выравниваем элементы меню по центру */
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}


/* Стили для заголовка страницы */
.page-title {
  margin-top: -130px; /* Поднимаем заголовок вверх на 20 пикселей */
  margin-left: 0px; /* Добавляем отступ слева для заголовка */
  font-family: Arial, sans-serif; /* Задаем шрифт */
  font-size: 34px; /* Задаем размер шрифта */
  font-weight: bold; /* Устанавливаем полужирное начертание */
  color: #333; /* Задаем цвет текста */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Добавляем тень текста */
  text-align: center; /* Выравниваем текст по центру */
  padding: 10px; /* Добавляем отступы вокруг текста */
  background-color: #f2f2f2; /* Задаем фоновый цвет */
  border-radius: 10px; /* Закругляем углы текста */
}

/* Стили для нижней панели */
footer {
  position: absolute; /* Задаем абсолютное позиционирование */
  bottom: 0; /* Размещаем панель внизу */
  left: 0; /* Выравниваем панель по левому краю */
  width: 100%; /* Расширяем панель на всю ширину экрана */
  background-color: #808080; /* Новый цвет фона */
  color: white; /* Новый цвет текста (белый) */
  padding: 20px; /* Отступы внутри панели */
  text-align: center; /* Выравнивание текста по центру */
}

/* Стили для текста внутри нижней панели */
footer p {
  margin: 0; /* Убираем внешние отступы */
}

/* Стили для контейнера содержимого */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Пространство между верхним меню и содержимым */
}

/* Стили для титульного фото */
.title-photo img {
  max-width: 100%;
  height: auto;
}

/* Стили для рекламного текста */
.advertisement {
  text-align: center;
  flex-grow: 1; /* Растягиваем контейнер с текстом на всю доступную ширину */
}

body {
  background-color: #e6e6fa; /* Новый цвет фона (например, светло-серый) */
}

/* Дополнительные стили для мобильных устройств */
@media screen and (max-width: 600px) {
  /* Стили для титульного фото на мобильных устройствах */
  .title-photo {
    width: 100%; /* Занимает всю ширину */
    height: 200px; /* Устанавливаем высоту контейнера (можно изменить на нужную вам высоту) */
    margin-bottom: 20px; /* Добавляем отступ снизу */
    overflow: hidden; /* Скрыть любое содержимое, которое выходит за пределы контейнера */
  }

  .title-photo img {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 100%; /* Занимает всю высоту родительского контейнера */
    object-fit: cover; /* Растягиваем изображение, чтобы оно полностью заполняло контейнер */
  }

  /* Стили для рекламного текста на мобильных устройствах */
  .advertisement {
    text-align: center; /* Выравниваем текст по центру */
    width: 100%; /* Занимает всю ширину */
  }

  /* Стили для нижней панели на мобильных устройствах */
  footer {
    position: relative; /* Возвращаем к относительному позиционированию */
    margin-top: 20px; /* Добавляем отступ сверху */
    margin-bottom: 0; /* Убираем отступ снизу */
  }

  /* Стили для текста поверх логотипа на мобильных устройствах */
  .logo-text {
    font-size: 14px; /* Уменьшаем размер текста */
    max-width: 100%; /* Ограничиваем ширину текста */
    margin-left: 0; /* Сбрасываем отступ слева */
    margin-top: 20px; /* Уменьшаем отступ сверху */
    text-align: center; /* Выравниваем текст по центру */
  }

  /* Стили для верхнего меню на мобильных устройствах */
  .navbar {
    margin-top: 20px; /* Уменьшаем отступ сверху */
    height: auto; /* Устанавливаем высоту на auto для адаптивности */
  }

  .navbar ul {
    display: block; /* Используем блочное отображение */
    text-align: center; /* Выравниваем по центру */
  }

  .navbar ul li {
    display: block; /* Используем блочное отображение */
    margin: 10px 0; /* Добавляем отступы между элементами */
  }

  .navbar ul li a {
    display: inline-block; /* Используем строчно-блочное отображение */
    padding: 5px 10px; /* Добавляем отступы вокруг текста */
    border-radius: 5px; /* Закругляем углы */
    background-color: #2980b9; /* Цвет фона */
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
  }

  /* Стили для заголовка страницы на мобильных устройствах */
  .page-title {
    margin-top: 10px; /* Уменьшаем отступ сверху */
    font-size: 24px; /* Уменьшаем размер шрифта */
  }
}
