/* Сброс стилей */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Объединение стилей body */
body {
  font-family: Arial, sans-serif;
  background-color: #e6e6fa; /* Новый цвет фона (например, светло-серый) */
  margin: 0;
  padding: 0;
}

/* Стили для контейнера логотипа */
.logo-container {
  display: flex; /* Используем flexbox для размещения элементов в ряд */
  align-items: center; /* Выравниваем элементы по вертикали */
  justify-content: center; /* Центрируем содержимое по горизонтали */
}

/* Стили для логотипа */
.church-logo {
  max-width: 100%; /* Максимальная ширина логотипа */
}

/* Стили для текста поверх логотипа */
.logo-text {
  color: #90ee90;
  font-size: 14px; /* Уменьшаем размер текста */
  font-style: italic;
  text-shadow: 1px 1px 1px black;
  max-width: 100%; /* Ограничиваем ширину текста */
  margin-left: 0; /* Сбрасываем отступ слева */
  margin-top: 20px; /* Уменьшаем отступ сверху */
  text-align: center; /* Выравниваем текст по центру */
}

/* Стили для верхнего меню */
.navbar {
  background-color: #3498db;
  margin-top: 80px; /* Опускаем верхнее меню ниже на 20 пикселей */
  color: white; /* Изменяем цвет текста на белый */
  height: auto; /* Устанавливаем высоту верхнего меню на auto для адаптивности */
  overflow: hidden; /* Скрываем все элементы, которые выходят за пределы контейнера */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Используем flexbox для элементов меню */
  flex-wrap: wrap; /* Позволяем элементам меню переноситься на новую строку */
  justify-content: center; /* Выравниваем элементы меню по центру */
}

/* Уменьшение отступов в меню */
.navbar ul li {
  display: inline;
  margin-right: 10px; /* Уменьшаем отступ между пунктами меню */
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/* Стили для заголовка страницы */
.page-title {
  margin-top: 20px; /* Увеличиваем отступ сверху */
  font-family: Arial, sans-serif; /* Задаем шрифт */
  font-size: 34px; /* Задаем размер шрифта */
  font-weight: bold; /* Устанавливаем полужирное начертание */
  color: #333; /* Задаем цвет текста */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Добавляем тень текста */
  text-align: center; /* Выравниваем текст по центру */
  padding: 10px; /* Добавляем отступы вокруг текста */
  background-color: #f2f2f2; /* Задаем фоновый цвет */
  border-radius: 10px; /* Закругляем углы текста */
}

/* Стили для нижней панели */
footer {
  position: absolute; /* Задаем абсолютное позиционирование */
  bottom: 0; /* Размещаем панель внизу */
  left: 0; /* Выравниваем панель по левому краю */
  width: 100%; /* Расширяем панель на всю ширину экрана */
  background-color: #808080; /* Новый цвет фона */
  color: white; /* Новый цвет текста (белый) */
  padding: 20px; /* Отступы внутри панели */
  text-align: center; /* Выравнивание текста по центру */
}

/* Стили для текста внутри нижней панели */
footer p {
  margin: 0; /* Убираем внешние отступы */
}

/* Стили для контейнера содержимого */
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Пространство между верхним меню и содержимым */
}

/* Стили для титульного фото */
.title-photo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.title-photo img {
  width: 100%;
  height: auto;
}

/* Стили для рекламного текста */
.advertisement {
  text-align: center;
  flex-grow: 1; /* Растягиваем контейнер с текстом на всю доступную ширину */
}

/* Дополнительные стили для мобильных устройств */
@media screen and (max-width: 600px) {
  /* Дополнительные стили для мобильных устройств */
  .title-photo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .title-photo img {
    width: 100%;
    height: auto;
  }

  /* Дополнительные стили для мобильных устройств */
  .advertisement {
    text-align: center;
    width: 100%;
  }

  /* Дополнительные стили для мобильных устройств */
  footer {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0;
  }

  /* Дополнительные стили для мобильных устройств */
  .logo-text {
    font-size: 14px;
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  /* Дополнительные стили для мобильных устройств */
  .navbar {
    margin-top: 20px;
    height: auto;
  }

  .navbar ul {
    display: block;
    text-align: center;
  }

  .navbar ul li {
    display: block;
    margin: 10px 0;
  }

  .navbar ul li a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2980b9;
    color: #fff;
    text-decoration: none;
  }

  /* Дополнительные стили для мобильных устройств */
  .page-title {
    margin-top: 10px;
    font-size: 24px;
  }
}
